{% extends "base.html.twig" %}

{% block title %}Visa hela kortleken{% endblock %}

{% block body %}
<div class="card-container" style="text-align: center;">
    <h1>Hela korten (sorterad)</h1>
    <div class="deck-cards">
        {% for suit, suitCards in cards %}
            <div class="suit-row">
                <strong>{{ suit }}</strong>: 
                {% for card in suitCards %}
                    <span class="card">{{ card }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="card-actions">
        <a href="{{ path('card_index') }}" class="btn">Tillbaka till kortlekssidan</a>
    </div>
</div>
{% endblock %}