@use 'variables' as *;

.container {
  background-color: $almost-white;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $space-md;
  padding-right: $space-md;
}
