@use 'variables' as *;

footer {
  background-color: $almost-white;
  color: $dark-grey;
  font-family: $font-body;
  font-size: 0.9rem;
  text-align: center;
  padding: $space-lg;
  margin-top: 2rem;
  border-top: 1px solid $light-grey;
  position: relative;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
  }
}