@use 'variables' as *;

.home-page {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: $space-lg;
  margin-top: $space-lg;
  padding: $space-sm;

  .home-image img {
    border-radius: $radius-lg;
    max-width: 250px;
    box-shadow: 0 0 $space-md $a-bit-more-grey;
  }

  .home-text {
    max-width: 600px;
    font-size: $body-font-size;
    color: $almost-black;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .home-image img {
      max-width: 100%;
    }

    .home-text {
      text-align: center;
    }
  }
}