{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="home-page">
    <div class="home-image">
        <img src="{{ asset('img/IMG_4443.JPG') }}" alt="A picture of me">
    </div>
    <div class="home-text">
        <h1>Welcome!</h1>
        <p>Hej! Jag heter Linnéa Leewong (detta är en påhittad person) och kommer från Kina. Jag flyttade till Sverige för 12 år sedan och har två underbara döttrar.</p>
        <p>Tidigare har jag arbetat som lärare, men nu vill jag prova på något nytt och spännande. Den här kursen är väldigt intressant, och jag ser fram emot att lära mig ännu mer framöver.</p>
    </div>
</div>
{% endblock %}